{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jedi Academy</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static "css/shop-homepage.css" %}" rel="stylesheet">
    <link href="{% static "css/star-wars.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background-color: black">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="col-md-4 col-md-offset-4">
                <p class="text-center" style="height: 50px; padding: 15px 15px; font-size: 18px; line-height: 20px;">
                    <a href="{% url "base" %}" style="color: #9d9d9d;">Академия джедаев</a>
                </p>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Page Content -->
    <div class="container">
        {% block content %}
            <div class="row">
                <div class="col-md-4" style="border: 1px solid white; border-radius: 15px;">
                    <!-- Button trigger modal -->
                    <h2 class="text-center" style="color: white">Приветствую Юнглинг</h2>
                    <img src="{% static "img/young_padavan2.jpg" %}" alt="..." class="img-circle center-block" style="max-width: 100%;">
                    <ul style="color: #ff6; margin-top: 10px; font-size: 20px; font-family: 'Droid Sans', arial, verdana, sans-serif;">
                        <li><p><strong>Джедай должен защищать слабых и беззащитных от зла.</strong></p></li>
                        <li><p><strong>Джедай всегда должен помогать в бою.</strong></p></li>
                        <li><p><strong>Джедай не убивает безоружного оппонента.</strong></p></li>
                        <li><p><strong>Джедай не должен иметь желаний, он должен проявлять самодостаточность.</strong></p></li>
                        <li><p><strong>Джедай ставит нужды общества выше нужд отдельной личности.</strong></p></li>
                    </ul>
                    <p class="text-center" style="margin-top: 20px; margin-bottom: 20px;">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal1" style="width: 250px;">
                            Пройти тест на Падавана
                        </button>
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="text-justify" style="transform: perspective(500px) rotateX(30deg); color: #ff6; font-size: 18px; font-family: 'Droid Sans', arial, verdana, sans-serif; padding: 44px;">
                        В Галактическом Сенате смятение.
                        Несколько тысяч солнечных систем
                        заявило о намерении выйти
                        из состава республики. <br>
                        Это сепаратистское движение,
                        возглавляемое таинственным
                        графом Дуку,
                        сильно осложняет немногочисленным
                        силам рыцарей Джедаев попытки
                        сохранить мир и порядок в галактике. <br>
                        Сенатор Амидала, бывшая
                        королева Набу, возвращается
                        в Галактический  Сенат,
                        чтобы участвовать в голосовании
                        по спорному вопросу создания
                        Республиканской Армии -
                        в помощь оставшимся Джедаям...
                    </p>
                </div>
                <div class="col-md-4" style="border: 1px solid white; border-radius: 15px;">
                    <!-- Button trigger modal -->
                    <h2 class="text-center" style="color: white">Приветствую Джедай</h2>
                    <img src="{% static "img/yoda2.jpg" %}" alt="..." class="img-circle center-block" style="max-width: 100%;">
                    <ul style="color: #ff6; margin-top: 10px; font-size: 20px; font-family: 'Droid Sans', arial, verdana, sans-serif;">
                        <li><p><strong>Джедай является хранителем мира в Галактике.</strong></p></li>
                        <li><p><strong>Джедай использует свои знания для защиты.</strong></p></li>
                        <li><p><strong>Джедай уважает любые формы жизни.</strong></p></li>
                        <li><p><strong>Джедай служит другим, а не правит ими, на благо галактики.</strong></p></li>
                        <li><p><strong>Джедай стремится к самосовершенствованию через познание и тренировки.</strong></p></li>
                    </ul>
                    <p class="text-center" style="margin-top: 20px; margin-bottom: 20px;">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2" style="width: 250px;">
                            Выбрать Падавана
                        </button>
                    </p>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Внесите необходимые данные</h4>
                      </div>
                      <div class="modal-body">
                          <form action="" method="POST">
                              {% csrf_token %}
                              {{ form|crispy }}
                              <input type="submit" class="btn btn-success btn-block" value="Внести данные">
                          </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Найдите себя в списке Джедаев</h4>
                      </div>
                      <div class="modal-body">
                          <div class="list-group">
                              {% for jedi in jedies %}
                                  <a href="{{ jedi.get_absolute_url }}" class="list-group-item text-center">{{ jedi.name }}</a>
                              {% endfor %}
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        {% endblock content %}
    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-center">Copyright &copy; Your Website 2018</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

</body>

</html>
