{% extends 'base.html' %}
{% load jedi_tags %}

{% block content %}
    <div class="col-md-8 col-md-offset-2" style="color: #ff6; margin-top: 10px; font-family: 'Droid Sans', arial, verdana, sans-serif; border: 1px solid white; border-radius: 15px;">
        <h1 class="text-center">Кандидат {{ candidate.name }}</h1>
        <h2 class="text-center">Результат: {{ count }}/{{ max_count }}</h2>
        <form>
            {% for question, answers in total.items %}
                <h3>{{ forloop.counter }}. {{ question }}</h3>
                {% for answer in answers %}
                    <div class="custom-control custom-radio">
                      {% if candidate_answers|jedi_filter:question == answer.answer_text %}
                        <input type="radio" id="customRadio-{{ answer.id }}" class="custom-control-input" checked disabled>
                      {% else %}
                        <input type="radio" id="customRadio-{{ answer.id }}" class="custom-control-input" disabled>
                      {% endif %}
                      {% if answer.answer_check %}
                        <label class="custom-control-label" for="customRadio-{{ answer.id }}" style="color: #67b168">{{ answer.answer_text }}</label>
                      {% elif candidate_answers|jedi_filter:question == answer.answer_text %}
                        <label class="custom-control-label" for="customRadio-{{ answer.id }}" style="color: #ba2121">{{ answer.answer_text }}</label>
                      {% else %}
                        <label class="custom-control-label" for="customRadio-{{ answer.id }}">{{ answer.answer_text }}</label>
                      {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
            <input type="hidden" name="candidate_id" value="{{ candidate.id }}">
        </form>
        {% if padavan_count < 3 %}
            <hr>
            <p class="text-center" style="margin-top: 20px; margin-bottom: 20px; font-size: 25px;">Вы можете сделать этого юнглинга своим Падаваном</p>
            <form action="{% url 'email' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="candidate_id" value="{{ candidate.id }}">
                <input type="hidden" name="jedi_id" value="{{ jedi.id }}">
                <input class="btn btn-primary btn-lg center-block" type="submit" value="Зачислить в Падаваны" style="margin-top: 10px; margin-bottom: 20px;">
            </form>
            <p class="text-center">
                <a href="{{ jedi.get_absolute_url }}">
                    <button type="button" class="btn btn-primary btn-lg" style="margin: 10px; width: 225px;">Вернуться в профиль</button>
                </a>
            </p>

        {% else %}
            <hr>
            <p class="text-center" style="margin-top: 20px; margin-bottom: 20px; font-size: 25px;">У Вас достаточное количество падаванов!</p>
            <p class="text-center">
                <a href="/"><button type="button" class="btn btn-primary btn-lg" style="margin: 10px; width: 215px;">Вернуться на главную</button></a>
                <a href="{{ jedi.get_absolute_url }}"><button type="button" class="btn btn-primary btn-lg" style="margin: 10px; width: 215px;">Вернуться в профиль</button></a>
            </p>
        {% endif %}
    </div>
{% endblock content %}

