{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="col-md-8 col-md-offset-2" style="border: 1px solid white; border-radius: 15px;">
        <img src="{% static "img/c3po.jpg" %}" alt="..." class="img-circle center-block" style="max-width: 100%; margin-top: 20px;">
        <p class="text-center" style="color: #ff6; margin-top: 20px; font-size: 50px; font-family: 'Droid Sans', arial, verdana, sans-serif;">{{ message_delivery }}</p>
        <p class="text-center" style="margin-top: 20px;">
                <a href="/"><button type="button" class="btn btn-primary btn-lg" style="margin: 10px; width: 215px;">Вернуться на главную</button></a>
                <a href="{{ jedi.get_absolute_url }}"><button type="button" class="btn btn-primary btn-lg" style="margin: 10px; width: 215px;">Вернуться в профиль</button></a>
            </p>
    </div>

{% endblock content %}