{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="col-md-12" style="border: 1px solid white; border-radius: 15px; color: #ff6; margin-top: 10px; font-family: 'Droid Sans', arial, verdana, sans-serif;">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ jedi.image.url }}" alt="" style="width: 100%;">
            </div>
            <div class="col-sm-8">
                <h2 class="text-center">{{ jedi.name }}</h2>
                <hr>
                <p class="text-center" style="font-size: 25px;">Планета: {{ jedi.planet }}</p>
                <hr>
                <p class="text-center" style="font-size: 25px;">Количество падаванов: {{ padavans.count }}</p>
                {% if padavans.count %}
                    <hr>
                    <h3 class="text-center">Падаваны:</h3>
                    <ul class="list-group center-block" style="width: 45%; font-size: 20px;">
                      {% for padavan in padavans %}
                        <li class="list-group-item text-center" style="background-color: black; color: #ff6;">{{ padavan.name }}</li>
                      {% endfor %}
                    </ul>
                {% endif %}
                {% if results %}
                    <hr>
                    <h3 class="text-center">Кандидаты прошедшие тест на Падавана:</h3>
                    <br>
                    <div class="list-group center-block" style="width: 60%; font-size: 20px;">
                        {% for result, candidate in results.items %}
                            <a href="{{ result }}" class="list-group-item text-center" style="background-color: black; color: #ff6;">{{ candidate.name }} - {{ candidate.age }} years old</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}