{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="col-md-8 col-md-offset-2" style="border: 1px solid white; border-radius: 15px;">
        <!-- Button trigger modal -->
        <h2 class="text-center" style="color: white">Ваш Результат</h2>
        <img src="{% static "img/Kenobi2.jpg" %}" alt="..." class="img-circle center-block" style="max-width: 100%; margin-top: 20px;">
        <p class="text-center" style="color: #ff6; margin-top: 20px; font-size: 125px; font-family: 'Droid Sans', arial, verdana, sans-serif;">{{ count }}/{{ max_count }}</p>
        <p class="text-center" style="color: #ff6; margin-top: 20px; font-size: 50px; font-family: 'Droid Sans', arial, verdana, sans-serif;">Да пребудет с тобой Сила</p>
        <p class="text-center" style="margin-top: 20px; margin-bottom: 20px;">
            <a href="/">
                <button type="button" class="btn btn-primary btn-lg" style="width: 250px;">
                    Вернуться на главную
                </button>
            </a>
        </p>
    </div>

{% endblock content %}