{% extends 'base.html' %}

{% block content %}
    <div class="col-md-8 col-md-offset-2" style="color: #ff6; margin-top: 10px; font-family: 'Droid Sans', arial, verdana, sans-serif; border: 1px solid white; border-radius: 15px;">
        <h2 class="text-center">Пройдите тест</h2>
        <form action="{% url 'result' %}" method="POST">
        {% csrf_token %}
            {% for question, answers in total.items %}
                <h3>{{ forloop.counter }}. {{ question }}</h3>
                {% with forloop.counter as index %}
                {% for answer in answers %}
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio-{{ answer.id }}" name="customRadio-{{ index }}" class="custom-control-input" value="{{ answer.answer_text }}">
                      <label class="custom-control-label" for="customRadio-{{ answer.id }}">{{ answer.answer_text }}</label>
                    </div>
                {% endfor %}
                {% endwith %}
            {% endfor %}
            <input type="hidden" name="candidate_id" value="{{ candidate_id }}">
            <input type="hidden" name="test_id" value="{{ test_id }}">
            <input class="btn btn-primary btn-lg center-block" type="submit" value="Отправить" style="margin-top: 10px; margin-bottom: 20px;">
        </form>
    </div>
{% endblock content %}

